@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
body{
  padding:0;
  margin:0;
}
.navbartop{
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
background-color: #081b27;

}
a.navbar-brand{
  color: white;
}

a.nav-link{
  color: white;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: #081b27;
  color:white;
  font-weight: 500;
  
}
.background{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #081b27;
  color:white;
  font-weight: 500;
}

.subheading{
  display: flex;
  text-align: left;
  align-items:start;
}

.toggleButton{
  justify-content: space-between;
  display: flex;
  margin: 5px;
}

.dropdownButton{
  display: flex;
  text-align: right;
  align-items:end;
  justify-content: space-around;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-container {
  display: flex;
  align-items: center; /* Align items vertically */
}
.movie-item {
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
  border: 1px solid #418edc;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.movie-item img {
  width: 100%;
  height: auto;
}

.movie-details {
  margin-top: 10px;
}

.movie-details strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.movie-details p {
  margin: 0;
}
